.nav_list {
  padding-top: 20px;
  text-align: left;
}
.previous_page {
  position: relative;
  color: #cccccc;
  font-size: 16px;
  padding-right: 20px;
  &:before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    transform: rotate(45deg) translateY(-50%);
    border-bottom: 2px solid transparent;
    border-right: 2px solid #cccccc;
    border-top: 2px solid #cccccc;
    border-left: 2px solid transparent;
    position: absolute;
    top: 50%;
    right: 8px;
  }
}
.current_page {
  color: #3a80ba;
  font-size: 16px;
}
