.logo_container {
  text-align: left;
  background: linear-gradient(92.09deg, #255d8b 2.29%, #3a80ba 96.79%);
  padding: 10px 0;
}
.logo_link {
  text-decoration: none;
  color: #fff;
  font-size: 40px;
}
